## DATABASE CONFIGURATION
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

### REDIS CONFIGURATION
REDIS_PASSWORD="your_redis_password"
REDIS_HOST="your_redis_host"
REDIS_PORT="your_redis_port"